<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>
  
  <appender name="FILE-ROLLING"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${user.home}/.moviebrowser/moviebrowser.log</file>

    <rollingPolicy
      class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>
        ${user.home}/.moviebrowser/moviebrowser-%d{yyyy-MM-dd-HH-mm-ss}.log
      </FileNamePattern>
    </rollingPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %date %level [%thread] %logger{10} [%file : %line] %msg%n
      </Pattern>
    </layout>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <File>${user.home}/.moviebrowser/moviebrowser.log</File>
    <Append>true</Append>
		
    <layout class="ch.qos.logback.classic.PatternLayout">
       <!-- <Pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>-->
      <Pattern>%date [%thread] %-5level %logger{35} - %msg%n</Pattern>
    </layout>
  </appender>


  
  <logger name="net.htmlparser.jericho">
    <level value="ERROR" />
  </logger>
  
  <!-- Enable this to see full html output -->
  <logger name="httpclient.wire">
      <level value="OFF" />
  </logger>
  
  <logger name="org.apache.http.wire">
  	<level value="OFF" />
  </logger>
  
  <logger name="org.apache.http">
  	<level value="INFO" />
  </logger>
  
  <logger name="org.apache.commons.httpclient">
      <level value="ERROR" />
  </logger>
  
  <logger name="org.hibernate">
      <level value="INFO" />
  </logger>

  <logger name="com.flicklib">
      <level value="INFO" />
  </logger>
  
  <!-- c3p0 and co -->
  <logger name="com.mchange.v2">
      <level value="INFO" />
  </logger>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>